body {
  margin          : 0;
  background-color: #f0f0f0;
  font-family     : monospace, 'Andale Mono';
}

header {
  background-color: #000;
  color           : #fff;
  padding         : 20px;
}

nav {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

#logo {
  font-size  : 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  margin    : 0;
  padding   : 0;
  display   : flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;

  text-decoration: none;
}

/* Cambiar color del enlace al pasar el mouse */
.nav-links li a:hover {
  color: #e0e0e0;
}

#inicio div {
  margin-top: 100px;
}

h1 {
  text-align: center;
  font-size : xx-large;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align   : center;
  margin-left  : 300px;
  margin-right : 300px;
  margin-bottom: 100px;
}

.separador {
  background-color: #000;
  height          : 50px;
}



img {
  width          : 100px;
  height         : 100px;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.acto {
  display       : flex;
  flex-direction: column;
}

#contacto {
  width          : 500px;
  display        : flex;
  justify-content: space-between;
  justify-items  : center;
  margin-left    : 700px;
}